<h2>Edit Person</h2>

<%= render "form.html", changeset: @changeset,
                        action: person_path(@conn, :update, @person) %>

<span><%= link "Back", to: person_path(@conn, :index) %></span>
