<div class="jumbotron">
  <h2><%= gettext "Get Right Church!" %></h2>
  <p class="lead">
    <%= gettext "And let's go home." %></br>
    <%= gettext "Manage your church to focus in the kingdom." %>
  </p>
</div>

