<h2>Show User</h2>

<ul>

  <li>
    <strong><%= gettext("Email:") %></strong>
    <%= @user.email %>
  </li>

</ul>

<span><%= link gettext("Edit"), to: user_path(@conn, :edit, @user) %></span>
<span><%= link gettext("Back"), to: user_path(@conn, :index) %></span>
